html, body {
  height: 100%;
  width: 100%;
  background-color: pink;

}

span{
  color: deeppink;
}

nav{
  font-size: 20px;
}

a{
  color: deeppink;
  text-decoration: none;
}

h1{
  font-family: arial;
  color: #FB2F94;
}

h3:hover {
  background-color: deeppink;
  color: white;
}

button{
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

button:active{
  background-color: deeppink;
}

ol, ul{
  color: #7B0056;
}

img {
  max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}


.card{
  background-color:#FFF3F7;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  
}


.cardextra{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFF3F7;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}

.cardextra h3{
  font-family: arial;
  text-align: center;
}

.cardextra p{
  text-align: center;
}


.cardextra1{
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
 
}

.cardextra2{
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
 
}
.cardextra3{
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
 
}



footer {
  text-align: center;
  padding: 10px;
}